<a href="https://colab.research.google.com/github/DulanDias/HandsOnMachineLearning/blob/master/Practical_4_%5BLab_Sheet%5D_Training_Your_First_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CSC 319 1.5 Machine Learning 1**
## **Practical 4 [Lab Sheet] - Training Your First Model**

In this section, we will use what we have learnt so far and train our first model.

**k-Nearest-Neighbors (k-NN)** is a supervised machine learning model. Supervised learning is when a model learns from data that is already labeled. A supervised learning model takes in a set of input objects and output values. The model then trains on that data to learn how to map the inputs to the desired output so it can learn to make predictions on unseen data.

#### **Your Task - Diabetics Prediction**

You are required to train a model that can predict whether a patient is diabetic or not, based on given parameters such as Glucose, Blood Pressure, Age, BMI, etc.

You may use the hosted dataset found [here](https://raw.githubusercontent.com/susanli2016/Machine-Learning-with-Python/master/diabetes.csv).

### **1. Reading the Data**

You are required to:
1. Load the dataset and verify that the data has been loaded properly.

In [0]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/susanli2016/Machine-Learning-with-Python/master/diabetes.csv")

df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

2. Determine how much data we have, rows and columns.

In [0]:
df.shape

(768, 9)

### **2. Split up the dataset into inputs and targets**

Now let’s split up our dataset into inputs (X) and our target (y). Our input will be every column except 'Outcome' because 'Outcome' is what we will be attempting to predict. Therefore, 'Outcome' will be our target.

3. Create a new Data Frame, X, to store the input attributes by removing the 'Outcome' column. Verify that the column has been removed.

In [0]:
X = df.drop(columns=['Outcome']) # or df.drop("Outcome", axis=1)
X.head()

   Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0            6      148             72  ...  33.6                     0.627   50
1            1       85             66  ...  26.6                     0.351   31
2            8      183             64  ...  23.3                     0.672   32
3            1       89             66  ...  28.1                     0.167   21
4            0      137             40  ...  43.1                     2.288   33

[5 rows x 8 columns]

4. Create a target variable, y, to store our target data (i.e. the Outcome column). Also, print the first 5 elements of this target variable.

In [0]:
y = df['Outcome'].values
y[0:5]

array([1, 0, 1, 0, 1])

### **3. Split the dataset into train and test data**

Now we will split the dataset into into training data and testing data. The training data is the data that the model will learn from. The testing data is the data we will use to see how well the model performs on unseen data.

Scikit-learn has a function we can use called ‘train_test_split’ that makes it easy for us to split our dataset into training and testing data.

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1, stratify=y)

* ‘train_test_split’ takes in 5 parameters. The first two parameters are the input and target data we split up earlier. 
* Next, we will set ‘test_size’ to 0.2. This means that 20% of all the data will be used for testing, which leaves 80% of the data as training data for the model to learn from. 
* Setting ‘random_state’ to 1 ensures that we get the same split each time so we can reproduce our results.

### **4. Building and training the model**

In [0]:
from sklearn.neighbors import KNeighborsClassifier
# Create KNN classifier
knn = KNeighborsClassifier(n_neighbors = 3)
# Fit the classifier to the data
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

* First, we will create a new k-NN classifier and set ‘n_neighbors’ to 3, which means that a new data point is labeled with by majority from the 3 nearest points.
* We have set ‘n_neighbors’ to 3 as a starting point. We will go into more detail below on how to better select a value for ‘n_neighbors’ so that the model can improve its performance.
* Next, we need to train the model. In order to train our new model, we will use the ‘fit’ function and pass in our training data as parameters to fit our model to the training data.

### **5. Testing the model**

Once the model is trained, we can use the ‘predict’ function on our model to make predictions on our test data.

In [0]:
knn.predict(X_test)[0:5]

array([0, 0, 0, 0, 1])

We can see that the model predicted ‘no diabetes’ for the first 4 patients in the test set and ‘has diabetes’ for the 5th patient.

Now let’s see how our accurate our model is on the full test set. To do this, we will use the ‘score’ function and pass in our test input and target data to see how well our model predictions match up to the actual results.

In [0]:
knn.score(X_test, y_test)

0.6688311688311688

#### **Your Task - Iris Dataset**

You are required to build and train a knn-model to predict the 'type' of flower using the Iris dataset.